<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fhx.wateraffairs">

    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--写入SD卡的权限：如果你希望保存相机拍照后的照片-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--读取SD卡的权限:打开相册选取图片所必须的权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 拨打电话的权限，这里必须要添加权限，否则当点击电话号码的时候程序会崩溃 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--vitamio权限-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />


    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--拉起相机-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.fhx.wateraffairs.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!--        百度地图-->

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="sAkdSkK6LOa16IYzG42ZSQZkRMY9ekz9" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!--vitamio视频播放界面-->
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <!--        启动页-->
        <activity
            android:name=".activity.login.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--        登录-->
        <activity
            android:name=".activity.login.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--消息通知-->
        <activity
            android:name=".activity.home.MessageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--通知-->
        <activity
            android:name=".activity.home.NewsNotifyActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--视频监控列表-->
        <activity
            android:name=".activity.video.MonitorVideoListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <!--视频监控1-->
        <activity
            android:name=".activity.video.MonitorVideoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--回放列表-->
        <activity
            android:name=".activity.video.RebackVidioListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--回放列表播放-->
        <activity
            android:name=".activity.video.ReBackVidioActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--视频监控2-->
        <activity
            android:name=".activity.video.EzOpenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--        监测点-->
        <activity
            android:name=".activity.home.MonitoringActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--        监测点实时数据-->
        <activity
            android:name=".activity.home.MonitoringMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--        监测点历史数据-->
        <activity
            android:name=".activity.home.MonitorHistoryActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--        水量采集-->
        <activity
            android:name=".activity.home.WaterCollectActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--        水量采集记录-->
        <activity
            android:name=".activity.home.WaterCollectRecordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--       修改水量采集记录-->
        <activity
            android:name=".activity.home.ChangeWaterRecordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--        信息上报-->
        <activity
            android:name=".activity.home.ReportedInformationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--        信息上报历史-->
        <activity
            android:name=".activity.home.ReportedHistoryActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--        信息上报历史详情-->
        <activity
            android:name=".activity.home.ReportedHistoryMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--        工程信息-->
        <activity
            android:name=".activity.home.ProjectInformationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--        通讯录-->
        <activity
            android:name=".activity.home.ContactsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--        通讯录详情-->
        <activity
            android:name=".activity.home.ContactsMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--        异常记录-->
        <activity
            android:name=".activity.patrol.AnomalyRecordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--        异常记录详情-->
        <activity
            android:name=".activity.patrol.AnomalyRecordMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--        异常记录表单提交-->
        <activity
            android:name=".activity.patrol.AnomalyCommitActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--        投诉反馈-->
        <activity
            android:name=".activity.mine.MineComplainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--        个人信息-->
        <activity
            android:name=".activity.mine.PersonMesActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--        修改密码-->
        <activity
            android:name=".activity.mine.ChangePassWordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />


        <!--巡检-->
        <activity
            android:name=".activity.patrol.PatrolActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--巡检记录-->
        <activity
            android:name=".activity.patrol.PatrolRecordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--巡检定位-->
        <activity
            android:name=".activity.patrol.PatrolLocationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- 填写表格选择       -->
        <activity
            android:name=".activity.home.RecordWriteActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--大坝巡视检查记录表-->
        <activity
            android:name=".activity.form.BarTourRecordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--渗透流量观测记录表（容积法）-->
        <!--渗透流量观测记录表（量水堰法）-->
        <activity
            android:name=".activity.form.PermeateVolumeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--水库水位观测记录表-->
        <activity
            android:name=".activity.form.ReservoirLevelActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--水库降水量观测记录表-->
        <activity
            android:name=".activity.form.ReservoirPrecipitationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--温度计观测记录表（气温）-->
        <!--温度计观测记录表（库水温）-->
        <activity
            android:name=".activity.form.TempObservationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--流量观测记录表-->
        <activity
            android:name=".activity.form.FlowObservationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--水闸巡视检查记录表-->
        <activity
            android:name=".activity.form.WaterlockTourActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--水闸外观形态检测记录表-->
        <activity
            android:name=".activity.form.WaterLockCheckActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--闸门启闭力检测记录表-->
        <activity
            android:name=".activity.form.GateHoistingCapacityActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--启闭机考核记录表-->
        <activity
            android:name=".activity.form.GateHoistRecordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--渠道工程检查记录表-->
        <activity
            android:name=".activity.form.ChannelRecordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--水库工程检查记录表-->
        <activity
            android:name=".activity.form.ReservoirRecordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--调度指令纪录表-->
        <activity
            android:name=".activity.form.DispatchRecordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--图片上传公用界面-->
        <activity
            android:name=".activity.form.ImageCommitActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />


        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>